/* HEADER */
.Homa-header {
    background-color: var(--Amarillo);
}

.Home-Header-Logo {
    width: 65%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.Home-Header-icon-lupa {
    background-color: white;
    border: solid 1px grey;
}

.container {
    margin-left: 20px;
}

input {
    width: 225px;
}

.Home-Header-cuotas  {
    font-size: 12px; 
    text-align: center;
    margin-top: 20px;
}

.Home-Header-menu {
  text-align: center;
}

.Home-Header-menu a {
    background-color: var(--Celeste);
    font-size: 25px; 
    color: white;
    padding: 13px;
    border-radius: 10%;
    margin: 30px;
    display: inline-block;
}

.ul-1 {   
    padding: 0px 5px 15px;  
}

.ul-1 i {   
    margin-left: 5px;
}


/* MAIN */

.Home-main-banner-img {
    width: 100%;
}

.home-main-section-img {
    width: 100%;
    margin-bottom: 20px; 
}

.Home-main-article {
    padding: 5px 15px ;
}

.Home-main-section-article-div {
    border-top: solid 1px var(--GrisClaro);
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 15px;
}

.truckIcon {
    color: var(--Verde);
    padding: 10px;
    border-radius: 25px;
    border: solid 1px var(--Verde);
    margin: auto auto auto 0px; 
}

.home-main-section-div {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.Home-main-h3 {
    color: gray;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;    
}

.Home-main-precios{
    font-size: 18px;
    padding: 3px;
}

.Home-main-descuento {
    color: var(--Verde);
    font-size: 16px;
}

.Home-main-descripcion {
    color: gray;
    font-size: 16px;
    margin-top: 20px;
}

/* FOOTER */

.Home-footer {
    background-color: white;
    text-align: center;
    margin: 5px;
}

.Home-footer-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: block;
}

.Home-footer-section-div {
    padding: 20px;
}
 
.Home-footer-section-div p{
    font-size: 16px;
}

.Home-footer-section-div h5{
    font-size: 18px;
}

.Home-footer-section-div-p {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width:769px) {

    /* HEADER */

  .Homa-header nav {
        display: none;
    } 
}

@media (min-width:769px) {

    /* HEADER */

  .Home-Header-menu a {
        display: none;
    }  
    
    .Home-Header-Logo {
        width: 30%;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 50px;
        padding-bottom: 10px;
        text-align: center;
    }

    .Home-footer-section {
        display: flex;
        justify-content: center;
        flex-direction: row; 
    }

}




